/*	****************************************
	Demo styles (for demo purposes only)
	**************************************** */
p { margin-top: 0; }

.right {
	float: right;
	margin-left: 15px;
}

.frame {
	border: 1px solid #666;
	padding: 5px;
}

/*	****************************************
	Modules (reusable classes)
	**************************************** */
.container {
	margin: 0 auto;
	width: 95%;
	max-width: 960px; 
}

.content {
	text-align: left;
	overflow: auto;
	position: absolute;
	left: 0;
	bottom: 0;
}


.nav {
	background-color: yellow;
	font-color: #800000;
}



/* ******************************Z-Pattern, Section 1 (Josh Anes)********************************************************* */

#theband {
	background-image: url(../images/band.jpg);
	font-color: white;
}

.zpattern-header{
	text-align: left;
	margin: 0 0 0 0px;
	color: yellow;
	font: bold;
	font-color: yellow;
	font-size: 70px;
}


.zpattern-bottom-row{
    position: absolute;
    display: table-cell;
    margin-left:50px;
    bottom:10px;
    align-content: center;
    background-color: yellow;
    font-color:#800000;
    width:90%;
    border: 10px;
   }

	/*display: flex;
	width: 60%;
	position: center;
	font-color: white;*/	



.backimage{
	margin: 0 auto;
	padding: 15px;
	width: 100%;
}

.main-menu h1{
	padding-left: 10px;
	align:left;
}


img.backimage{
	display: block;
	max-width: 200px;
	width: 100%;
	height: auto;
}




/* The side navigation menu */
div.container-one{
    width: 100%;
    border: 1px solid gray;
    align-content: center;
}

header {
    padding: 20px;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

.sidenav {
    float: left;
    margin: 0;
    padding: 1em;
}

.sidenav ul {
    list-style-type: none;
    padding: 2px;
}
   
.sidenav ul a {
    text-decoration: none;
    padding-top: 3px;
    
}


.sidenav li{
	margin-bottom: 20px;
}

 .sidenav li:last-child {margin-bottom: 0px;}

article {
	margin: 50px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

.colophon-content{
	display: flex;
	float: ;
}

.first{
	width: 50%;
	display: inline-block;
	align-items: center;
	border-style: solid;
	border-width: 1px;
	margin: 15px;
}

.Josh-description{
	padding: 15px;
}
.Josh{
	margin: 0 auto;
	padding: 15px;
}
.second{
	width: 50%;
	display: inline-block;
	align-items: center;
	border-style: solid;
	border-width: 1px;
	margin: 15px;
}
.Ethan-description{
	padding: 15px;
}
.Ethan{
	margin: 0 auto;
	padding: 15px;
}


